<!DOCTYPE html>
<html lang="en">

  <%- include('./layout/head.ejs') %>

  <body class="container">
    <div class="row justify-content-center">
      <div class="col-xs-6 col-md-8 col-lg-6">
        <%- title %>

        <form action="/upload" method="POST" enctype="multipart/form-data" class="d-flex align-items-center p-4">
          <input type="file" class="form-control-file" name="myImage">
          <button type="submit" class="btn btn-primary btn-lg ml-auto">Upload</button>
        </form>

        <% pics.forEach(pic => { %>
        <figure class="figure p-2">
          <a href="/<%= pic %>">
            <img src="/uploads/<%= pic %>" class="figure-img img-fluid rounded" alt="<%= pic %>">
          </a>

        </figure>
        <% }) %>
      </div>
    </div>

    <%- include('./layout/footer.ejs') %>
  </body>

</html>